html, body, #root {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  background: black;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: sans-serif;
}

/* Hide stoic's connect iframes. */
iframe[id*="connect_iframe"] {
  display: none;
}