.root {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 56px;
    width: 160px;
    box-shadow: 0 0 0 2px rgba(255, 255, 255, .2);
    border-radius: 4px;
    cursor: pointer;
}

.size-large {
    width: 240px;
}